.banner{
    background-image: url("../images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner h2{
    font-size: 55px;
    font-weight: bolder;
    text-transform: uppercase;
}
.session2 p::before{
    content: '{';
        color:brown;
}
.session2 p::after{
    content: '}';
        color:brown;
}
.session2 p{
    font-size: 24px;
    font-weight: bolder;

}
.margin-left{
    margin-left: -100px;
}
.module-bg{
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.interview{
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.interview1{
    background-image: url("../images/5.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.vh-60{
    height: 60vh;
}
.interview div{
    background-color: rgba(0,0, 0,0.7);
    color: white;
    height:100%;

}
.interview1 div{
    background-color: rgba(0,0, 0,0.7);
    color: white;
    height: 100%;
    
}
.inter{

}
@media screen and (max-width:576px)
{
    .margin-left{
        margin-left:0;
    }
    .module-bg .vh-100{
        height: auto !important;
        

    } 
    .p-5 .vh-100{
        height: auto !important;
    }
    .banner{
        background-image: none;
    }
    
}

